// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  margin: 0 auto 20px;
  max-width: 400px;
  height: 400px;
}