<div class = "container">
  <h2 class = "m-4">ご注文ありがとうございました！</h2>
  <h4>商品到着までもうしばらくお待ちください</h4>
  <div class = "">
    <%= link_to '商品一覧へ戻る', items_path, class:"btn btn-outline-success btn-sm ml-3"%>
    <%= link_to "注文履歴一覧を見る", orders_path, class:"btn btn-outline-succses btn-sm ml-3" %>
  </div>
