<footer class ='bg-secondary'>
  <div class='container'>
      <div class='row'>
        <div class='col'>
          <p>会社名 naGano caKe</p>
          <p>住所 長野県長野市ながの山中123-4</p>
          <p>電話番号 026-354-88§2</p>
          <p>Contact</p>
        </div>
      <div class ='col'>
        <p>インスタ</p>
        <p>リンク</p>
      </div>
    </div>
      <div class='row'>
        <div class='mx-auto'>
          <p>© 2025 Team Sairyo-Rodosei</p>
        </div>
  </div>
</footer>
