<footer class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>
          <i class="fas fa-copyright"></i> 会社名 naGano caKe
        </p>
        <p>
          <i class="fas fa-map-marker-alt"></i> 住所 長野県長野市ながの山中123-4
        </p>
        <p>
          <i class="fas fa-phone-alt"></i> 電話番号 026-354-88§2
        </p>
        <p>
          <i class="fas fa-envelope"></i> Contact
        </p>
      </div>
      <div class="d-flex justify-content-end">
      <p>        
          <i class="fab fa-instagram fa-3x"></i>        
          <i class="fab fa-x fa-3x"></i> <!-- Twitter (X) アイコン -->        
          <i class="fab fa-pinterest fa-3x"></i>        
      </p>
    </div>
    </div>
    <div class="text-center">
      <p>© 2025 Team Sairyo-Rodosei</p>
    </div>
  </div>
</footer>

