<footer class ='bg-light'>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <p>会社名 naGano caKe</p>
        <p>住所 長野県長野市ながの山中123-4</p>
        <p>電話番号 026-354-88§2</p>
        <p>Contact</p>
      </div>
    </div>
    <div class = "text-center">
      <p>© 2025 Team Sairyo-Rodosei</p>
    </div>
  </div>
</footer>

