<footer style = "background-color: #EDDCD6">
  <div class='container '>
    <div class='row mt-2 mx-auto'>
      <div class='col text-center'>
        <p> naGano caKe</p>
        <p>長野県長野市ながの山中123-4</p>
        <p> 026-354-88§2</p>
      </div>
      <div class ='col text-center'>
        <p>Instagram</p>
        <p>Youtube</p>
        <p>Contact</p>
      </div>
    </div>
    <div class = "text-center">
      <p>© 2025 Team Sairyo-Rodosei</p>
    </div>
  </div>
</footer>
